.content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 11.4rem 1fr 15rem;
    grid-template-areas: "header" "main" "footer"
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    padding: 2rem;
}

.container .left, .right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .space {
    width: 100%;
    position: relative;
    height: 10rem;
}

/*Outset*/

.container .outset {
    width: 50rem;
}

.container .outset h1 {
    font-size: 8rem;
    line-height: 6rem;
    margin-bottom: 2rem;
}

.container .outset img {
    width: 100%;
}

/*About*/

.container .about {
    margin: 2rem;
    min-height: 60rem;
}

.container .left.about {
    width: 40rem;
}

.container .about h2 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 6rem;
    margin-bottom: 2rem;
}

.container .about .button {
    margin: 5rem auto 0;
    font-weight: 700;
    max-width: 30rem;
}

.container .about img {
    width: 60rem;
}

/*Services*/

.container .services.title {
    width: 100%;
    text-align: right;
    margin-bottom: 10rem;
    padding: 0 4rem;
}

.container .services.title h2 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 6rem;
}

.container .services {
    width: 50rem;
    margin: 2rem;
}

.container .services img {
    width: 100%;
}

.container .services.text-box {
    min-height: 33.2rem;
    padding: 3rem;
    background: var(--grey);
    color: var(--purple);
}

.container .services h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 6rem;
    margin-bottom: 1rem;
}

.container .services .button {
    margin-top: 2rem;
    background: var(--purple);
    color: var(--white);
}

/*Âncoras*/

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 5rem;
}

/*Image Slide*/

.container .box {
    position: relative;
    width: 90%;
}

.container .box .title {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
}

.container .box .title h2 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 6rem;
}

.container .container-slide {
    display: none;
}

.container .container-slide.active {
    display: block;
}

.container .box #prev, #next {
    position: absolute;
    top: 60%;
    transform: translate(-60%);
    color: var(--orange);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2.5rem;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
}

.container .box #prev:hover, #next:hover {
    background: rgba(0, 0, 0, 0.5);
}

.container .box #prev {
    left: 2rem;
}

.container .box #next {
    right: -4rem;
}

.container .container-slide .slide {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
}

.container .container-slide .slide .right {
    animation: slideContent 0.4s linear 0.6s backwards;
}

@keyframes slideContent {
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    }
}

.container .container-slide .slide .left {
    animation: slideImage 0.4s linear;
}

@keyframes slideImage {
    0% {
        opacity: 0;
        transform: translateY(-5rem);
    }
}

.container .container-slide .slide .left, .right {
    width: min(50rem, 100%);
    text-align: center;
}

.container .container-slide .slide .right {
    background: var(--grey);
    height: 41.6rem;
    color: var(--purple);
}

.container .container-slide .slide .left img {
    width: 100%;
    max-width: 50rem;
}

.container .container-slide .slide .text-box p, .button {
    margin: 5rem auto 0;
}

.container .container-slide .slide .text-box .button {
    width: 25rem;
    font-weight: 700;
    background: var(--purple);
    color: var(--white);
}

.container .box .indicator {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
}

.container .box .indicator .btn {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.4rem;
    border-radius: 1.5rem;
    background: var(--orange);
    cursor: pointer;
    transition: 0.4s;
}

.container .box .indicator .btn.active {
    width: 4.5rem;
}

/*Coworking*/

.container .coworking {
    margin: 2rem;
}

.container .left.coworking {
    width: 40%;
    text-align: left;
}

.container .coworking.title {
    width: 100%;
    text-align: left;
    padding: 0 4rem;
    margin-bottom: -10rem;
}

.container .coworking.title h2 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 6rem;
}

.container .coworking img {
    width: 100%;
    max-width: 50rem;
}

/*Form*/

.container .form, .overlay {
    border-radius: 1rem;
    padding: 5rem 2rem;
    width: min(50rem, 100%);
}

.container .overlay {
    text-align: center;
}

.container .form input {
    margin-bottom: 2rem;
}

.container .form button {
    width: 100%;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bolder;
}

/*Footer*/

footer {
    grid-area: footer;
    background: #2e2e2e;
    border-radius: 0;
}

footer .first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    position: relative;
    color: var(--grey);
}

footer .social-media {
    display: flex;
    width: fit-content;
    height: fit-content;
}

footer .social-item {
    width: 3rem;
    height: 3rem;
    background-position: center !important;
    background-size: contain !important;
    margin: 0 0.5rem;
    background-repeat: no-repeat !important;
    transition: all 0.3s;
}

footer .social-item:hover {
    width: 3.1rem;
    height: 3.1rem;
}

#instagram {
    background: url("../images/instagram-logo.svg");
}

#instagram:hover{
    background: url("../images/instagram-logo-yellow.svg");
}

#linkedin {
    background: url("../images/linkedin-logo.svg");
}

#linkedin:hover {
    background: url("../images/linkedin-logo-yellow.svg");
}

footer .second-line {
    margin-top: 1rem;
    border-radius: 0;
    border-top: .15px solid var(--grey);
}

footer .second-line p{
    text-align: center;
}

footer .second-line a{
    color: var(--white);
}

footer .second-line a:hover{
    color: var(--yellow);
}

@media (max-width: 60rem) {
    main .container {
        width: 100%;
        margin: 0;
        overflow-x: hidden;
        padding: 0;
    }
    .container .space {
        height: 5rem;
    }
    .container .about {
        margin: 0;
        padding: 0 3rem;
        min-height: 30rem;
    }
    .container .outset, .services, .coworking {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .container .outset {
        padding: 0 3rem;
    }
    .container .outset h1 {
        font-size: 5rem;
    }
    .container .about h2 {
        font-size: 4rem;
    }
    .container .services.title h2 {
        font-size: 4rem;
        padding: 0 3rem;
    }
    .container .box .title h2 {
        font-size: 4rem;
    }
    .container .coworking.title h2 {
        font-size: 4rem;
    }
    .container .services.title {
        margin-bottom: 2rem;
    }
    .container .outset img {
        width: 80%;
    }
    .container .services {
        width: 80%;
        margin: 2rem 0;
    }
    .container .services.title {
        padding: 0;
    }
    .container .about img {
        width: 100%;
    }
    .container .box #prev {
        left: 0;
        top: 60%;
    }
    .container .box #next {
        right: -6rem;
        top: 60%;
    }
    /* .container .container-slide .slide .left, .right{
        width: 40rem;
    } */
    .container .container-slide .slide .right {
        height: auto;
    }
    .container .container-slide .slide .text-box {
        margin: 2rem 0;
    }
    .container .left.coworking {
        width: 100%;
    }
    .container .coworking.title {
        padding: 0;
        margin-bottom: 0;
    }
}